In [12]:
def count_char(text, char):
    count = 0
    for c in text:
        if c == char:
            count += 1
    return count

file = open("newfile.txt", "w")
file.write("""Ornhgvshy vf orggre guna htyl.
Rkcyvpvg vf orggre guna vzcyvpvg.
Fvzcyr vf orggre guna pbzcyvpngrq.
Syng vf orggre guna arfgrq.
Fcenfr fv orggre guna qrafr.
Ernqnovyvgl pbhagf.
Fcrpvny pnfrf nera'g fcrpvny rabthu gb oernx gur ehyrf.
Nygubhtu cenpgvpnyvgl orgnf chevgl.
Reebef fubhyq arire cnff fvyragyl.
Hayrff rkcyvpvgyl fvyraprq.
Va gur snpr bs nzovthvgl, ershfr gur grzcgngvba bg thrff.
Gurer fubhyq or bar-- naq cersrenoylbayl bar --boivbhf jnl gb qb vg.
Nygubhtu gung jnl znl abg or boivbhf ng svefg hayrff lbh'er Qhgpu.
Abj vf orggre guna arrire.
Nygubhtu arire vf bsgra orggre guna *evtug* abj.
Vs gur vzcyrzragngvba vf uneq gb rkcynva, vg'f n onq vqrn.
Vs gur vzcyrzragngvba vf rnfl gb rkcynva, vg znl or n tbbq vqrn.
Anzrfcnprf ner bar ubaxvat terng vqrn -- yrg'f qb zber bs gubfr!""")
file.close()
filename = "newfile.txt"
with open(filename) as f:
    text = f.read()

for char in "abcdefghijklmnopqrstuvwxyz":
    perc = 100 * count_char(text, char) / len(text)
    print("{0} - {1}%".format(char, round(perc, 2)))

a - 4.68%
b - 4.94%
c - 2.28%
d - 0.0%
e - 3.8%
f - 5.19%
g - 8.99%
h - 2.53%
i - 0.63%
j - 0.51%
k - 0.51%
l - 1.9%
m - 0.0%
n - 6.2%
o - 2.28%
p - 1.9%
q - 2.03%
r - 10.51%
s - 1.27%
t - 1.39%
u - 3.54%
v - 6.08%
w - 0.0%
x - 0.25%
y - 3.92%
z - 1.65%

In [18]:
import time

def elapsed_time(f):
    def wrapper(*n):
# *n for any arguments in the primary function
        t1 = time.time()
        f(*n)
# *n for any arguments in the primary function
        t2 = time.time()
        el_time = (t2 - t1) * 1000
        print('Elapsed time: {}  ms'.format(el_time))
    return wrapper


@elapsed_time
def big_sum():
    num_list = []
    for num in (range(1000, 900000)):
        num_list.append(num)
    print('Big sum: {}'.format(sum(num_list)))

    
big_sum()

Big sum: 404999050500
Elapsed time: 537.4102592468262  ms

In [22]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

print(factorial(5))

120

In [30]:
class pyon:
    def __init__(self):
        self.name = "python"
        name = "learning"
        
obj = pyon()
print(obj.name)

python

In [3]:
class Song(object):
    def __init__(self, lyrics):
        self.lyrics = lyrics
        
    def sing_me_a_song(self):
        for line in self.lyrics:
            print(line)
        
happy_bday = Song("Happy birthday to you",\n "I don't want to get sued",\n "So I'll stop right there")

bulls_on_parade = Song(["They rally around the family",\n "With pockets full of shells"])
        
happy_bday.sing_me_a_song()

SyntaxError: unexpected character after line continuation character (<ipython-input-3-c40de0269ae8>, line 9)

In [2]:
st = "i love india a lot like you"
vw = "aeiou"
c= 0
for v in vw:
    c = c+ st.count(v)
print(c)

12

In [13]:
basket = ['guave', 'orange', 'apple', 'pear', 'banana', 'grape'] 
  
for x in enumerate(basket, start = 1):
    print(x)

(1, 'guave')
(2, 'orange')
(3, 'apple')
(4, 'pear')
(5, 'banana')
(6, 'grape')

In [10]:
help (enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [14]:
cities= ["berlin", "vienna", "zurich"]
iter_obj = cities.__iter__()
print(iter_obj.__next__())
print(iter_obj.__next__())
print(iter_obj.__next__())

berlin
vienna
zurich

In [22]:
try:
    iter_ob = iter(cities)
    print(next(iter_ob))
    print(next(iter_ob))
    print(next(iter_ob))
    print(next(iter_ob))
except:
    print("Yay!! error")

berlin
vienna
zurich
Yay!! error

In [16]:
for x in enumerate(cities, start = 1):
    print(x)

(1, 'berlin')
(2, 'vienna')
(3, 'zurich')

In [17]:
for x in cities:
    print(x)

berlin
vienna
zurich

In [20]:
i = 0
while i <= len(cities)-1:
    print(cities[i])
    i +=1

berlin
vienna
zurich

In [27]:
def is_even(nums):
    if nums % 2 == 0:
        return True
    
def get_even():
    num = 2
    if is_even(num):
        yield num
    num += 1
    
print(list(get_even()))

[2]

In [1]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [5]:
i = 6
while i >= 0:
    for j in range (1, i):
        print(j, end = ""),
    print()
    i = i-1

12345
1234
123
12
1

In [15]:
# to print table starting from 1 to specified no.
n=3
for i in range (1, n+1):
    j=1
    print('Table to', i, 'is as follows:')
    print()
    while j <= 10:
        print (i, '*', j, '=', i*j)
        j = j+1
    print()

Table to 1 is as follows:

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Table to 2 is as follows:

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Table to 3 is as follows:

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [20]:
def search_string():
    import re
    substring='water'
    search1=re.search(substring,'Water water everywhere but not a drop to drink')
    if search1:
        position=search1.start()
        print ("matched", substring, "at position", position)
    else:
        print ("No match found")
        
        
search_string()

matched water at position 6

In [25]:
def metasearch():
    import re
    p=re.compile('sing+')
    search1=re.search(p,'Some singers sing well')
    if search1:
        match=search1.group()
        index=search1.start()
        lindex=search1.end()
        print ("matched", match, "at index", index ,"ending at" ,lindex)
        
    else:
        print ("No match found")
        
metasearch()

matched sing at index 5 ending at 9

In [1]:
help(datetime)

NameError: name 'datetime' is not defined

In [3]:
import pandas as pd
import numpy as np
d = {'COMPANY': ['GOOGLE', 'GOOGLE', 'ORACLE', 'ORACLE', 'TWITTER', 'TWITTER'],
     'PERSON': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
     'Sales': [200,120,340,124,243,350]
}
df = pd.DataFrame(d)
df

   COMPANY   PERSON  Sales
0   GOOGLE      Sam    200
1   GOOGLE  Charlie    120
2   ORACLE      Amy    340
3   ORACLE  Vanessa    124
4  TWITTER     Carl    243
5  TWITTER    Sarah    350

In [10]:
df.groupby('COMPANY')['Sales'].mean()

COMPANY
GOOGLE     160.0
ORACLE     232.0
TWITTER    296.5
Name: Sales, dtype: float64

In [11]:
df.groupby('COMPANY').count()

         PERSON  Sales
COMPANY
GOOGLE        2      2
ORACLE        2      2
TWITTER       2      2